{% block content %}


<form method="post" action="/manage/">
{% csrf_token %}
<h4>Change Your Password:</h4><br>
<table>
<tr>
    <td>{{ form.current_password.label_tag }}</td>
    <td>{{ form.current_password }}</td>
</tr>
<tr>
    <td>{{ form.new_password.label_tag }}</td>
    <td>{{ form.new_password }}</td>
</tr>
<tr>
	<td>{{ form.confirm_new_password.label_tag}}</td>
	<td>{{ form.confirm_new_password }} </td>
</tr>
</table>
{%if updated_password%}
<font color="red">{{updated_password}}</font>
{%endif%}
<br><h4>Change your Public/Private Keys</h4><br>
<table>
<tr>
    <td>{{ form.public_key_loc.label_tag }}</td>
    <td>{{ form.public_key_loc }}</td>
</tr>
<tr>
    <td>{{ form.private_key_loc.label_tag }}</td>
    <td>{{ form.private_key_loc }}</td>
</tr>
</table>
{%if updated_ssh%}
<font color="red">{{updated_ssh}}</font>
{%endif%}
<br><br>
{%if not user.is_public %}
<h3>Your Account is currently Private:</h3>
{{form.make_public.label_tag}}
{{form.make_public}}
{%else%}
<h3>Your Account is currently Public:</h3>
{{form.make_private.label_tag}}
{{form.make_private}}
{%endif%}
{%if updated_public%}
<br><font color="red">{{updated_public}}</font>
{%endif%}
<!-- NEED TO IMPLEMENT ERROR CHECKING -->

<br><br>
<input type="submit" value="Submit Changes" />
<a href="/"><input type="button" value="Back" /></a></form><br><a href="/delete">Delete Account</a>

{% endblock %}