{% block content %}


<form method="post" action="/manage/">
{% csrf_token %}
<h4>Change Your Password:</h4><br>
<table>
<tr>
    <td>{{ form.current_password.label_tag }}</td>
    <td>{{ form.current_password }}</td>
</tr>
<tr>
    <td>{{ form.new_password.label_tag }}</td>
    <td>{{ form.new_password }}</td>
</tr>
<tr>
	<td>{{ form.confirm_new_password.label_tag}}</td>
	<td>{{ form.confirm_new_password }} </td>
</tr>
</table>
{%if updated_password%}
<font color="red">{{updated_password}}</font>
{%endif%}
<br><h4>Change your Public/Private Keys</h4><br>
<table>
<tr>
    <td>{{ form.public_key_loc.label_tag }}</td>
    <td>{{ form.public_key_loc }}</td>
</tr>
<tr>
    <td>{{ form.private_key_loc.label_tag }}</td>
    <td>{{ form.private_key_loc }}</td>
</tr>
</table>
{%if updated_ssh%}
<font color="red">{{updated_ssh}}</font>
{%endif%}
<!-- NEED TO IMPLEMENT ERROR CHECKING -->

<br><br>
<input type="submit" value="Submit Changes" />
</form>
<br><a href="/">Back</a><br><a href="/delete">Delete Account</a>

{% endblock %}