{% block content %}
<div style="position: absolute;top: 40%;left: 50%;margin-top: -100px;margin-left: -180px;width: 360px;height: 200px; padding-left: 25px; padding-right: 10px" >
{% if bulletin.is_encrypted and bulletin.author != user %}
<h1>This bulletin is encrypted</h1>

<h2>Author: Encrypted Data</h2>

<h3>Date created: Encrypted Data <br>
Date modified: Encrypted Data <br>
Location: Encrypted Data<br>

<p>Description: Encrypted Data</p>
<a style="text-decoration:none" href="/"><input type="button" value="Back" /></a>

{%elif bulletin.is_public or bulletin.author == user%}
<h1>{{ bulletin.title }}</h1>

<h2>Author: {{ bulletin.author }}</h2>

<h3>Date created: {{bulletin.date_created}} <br>
Date modified: {{bulletin.date_modified}} <br>
Location: {{bulletin.location}}<br>

Files: <a href="{{ bulletin.docfile.url }}">{{ bulletin.docfile.name }}</a>

{%if bulletin.folder %}
Parent Folder: <a href="{% url 'detail_folder' bulletin.folder.id %}">{{bulletin.folder.title}}</a>
{%else %}
No parent folder.
{%endif %}
<br>

{%if bulletin.docfile %}
Files: <a href="{{ bulletin.docfile.url }}">{{ bulletin.docfile.name }}</a>
{%endif %}


<p>Description: <br>
{{bulletin.description}}</p>
{%if bulletin.author == user%}
<a style="text-decoration:none" href="{% url 'edit_bulletin' bulletin.id %}"><input type = "button" value= "Edit Bulletin" /></a>
<a style="text-decoration:none" href="{% url 'delete_bulletin' bulletin.id %}"><input type = "button" value= "Delete Bulletin" /></a>
{%endif%}
<a style="text-decoration:none" href="/"><input type="button" value="Back" /></a>
{%elif bulletin.is_searchable%}
<h1>{{ bulletin.title }}</h1>

<h2>Author: Encrypted Data</h2>

<h3>Date created: Encrypted Data <br>
Date modified: Encrypted Data <br>
Location: Encrypted Data<br>

<p>Description: <br>
Encrypted Data</p>
<a style="text-decoration:none" href="/"><input type="button" value="Back" /></a>
{%else%}
<h1>This bulletin is private</h1>

<h2>Author: Encrypted Data</h2>

<h3>Date created: Encrypted Data <br>
Date modified: Encrypted Data <br>
Location: Encrypted Data<br>

<p>Description: Encrypted Data</p>
<a style="text-decoration:none" href="/"><input type="button" value="Back" /></a>
{%endif%}
</div>

{%if bulletin.is_public%}
	<a href="{% url 'follow_bulletin' bulletin.id %}">Follow This Bulletin</a>
{%elif bulletin.is_searchable%}
	<a href="{% url 'request_bulletin' bulletin.id %}">Request Access to This Bulletin</a>
{%endif%}
{% endblock %}
