{% block content %}
<div style="position: absolute;top: 20%;left: 50%;margin-top: -100px;margin-left: -180px;width: 360px;height: 200px; padding-left: 25px; padding-right: 10px" >
<h3>Edit Bulletin</h3>

<form method="post" action="{% url 'edit_bulletin' bulletin.id %}">
{% csrf_token %}
    <table>
<tr>
    <td>{{ form.title.label_tag }}</td>
    <td>{{ form.title }}</td>
</tr>
<tr>
    <td>{{ form.description.label_tag }}</td>
    <td>{{ form.description }}</td>
</tr>
<tr>
	<td>{{ form.folder.label_tag}}</td>
	<td>{{ form.folder }} </td>
</tr>
<tr>
	<td>{{ form.location.label_tag}}</td>
	<td>{{ form.location }} </td>
</tr>
<!--
<tr>
	<td>{{ form.is_public.label_tag}}</td>
	<td>{{ form.is_public }} </td>
</tr>
<tr>
	<td>{{ form.is_searchable.label_tag}}</td>
	<td>{{ form.is_searchable }} </td>
-->
</table>

<!-- NEED TO IMPLEMENT ERROR CHECKING -->

<br>
<input type="submit" value="Finish editing" />
<a style="text-decoration:none" href = "/"> <input type="button" value = "Cancel" /> </a>
</form> 

{% endblock %}
