<h3>Welcome to Secure Witness: {{user.username}}</h3>
<ul>
	<li><a href="/search">Search Bulletins</a></li>
	<li><a href="/inbox">{{inbox_str}}</a></li>
	<li><a href="/manage">Account Management</a></li>
	<li><a href="/logout">Logout</a></li>
</ul>

<h3>List of All Bulletins (debugging only)</h3>
{% block content %}
{% if bulletin_list %}
	<h3>List of All Bulletins:</h3>
    <ul>
    {% for bulletin in bulletin_list %}
      {% if bulletin.is_encrypted and bulletin.author != user and not bulletin.is_searchable %}
        <li>Bulletin {{forloop.counter}}: <a href="{% url 'detail_bulletin' bulletin.id %}">{{ "Encrypted" }}</a></li>
      {% else %}
        <li>Bulletin {{forloop.counter}}: <a href="{% url 'detail_bulletin' bulletin.id %}">{{ bulletin.title }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No bulletins are available.</p>
{% endif %}

<h3>List of Your Bulletins:</h3>
{% if your_bulletins %}
	<ul>
	{%for bulletin in your_bulletins %}
		<li>Bulletin {{forloop.counter}}: <a href="{% url 'detail_bulletin' bulletin.id %}">{{ bulletin.title }}</a></li>
	{%endfor%}
	</ul>
{%else%}
	<p>You have created no bulletins</p>
{%endif%}
<a href="/create_bulletin">Create New Bulletin</a>

<h3>List of All Folders:</h3>
{%if folder_list%}
    <ul>
    {%for folder in folder_list%}
      <li><a href="{% url 'detail_folder' folder.id %}">{{folder.title}}</a></li>
    {%endfor%}
    </ul>
{%else%}
    <p>No folders are available.</p>
{%endif%}
<a href="/create_folder">Create New Folder</a>

<h3>List of Public Bulletins</h3>
{% if pub_bulletins %}
	<ul>
	{%for bulletin in pub_bulletins %}
      {% if bulletin.is_encrypted and bulletin.author != user and not bulletin.is_searchable%}
        <li>Bulletin {{forloop.counter}}: <a href="{% url 'detail_bulletin' bulletin.id %}">{{ "Encrypted" }}</a></li>
      {% else %}
        <li>Bulletin {{forloop.counter}}: <a href="{% url 'detail_bulletin' bulletin.id %}">{{ bulletin.title }}</a></li>
      {% endif %}
	{%endfor%}
	</ul>
{%else%}
	<p>There are no public bulletins</p>
{%endif%}

<h3>Bulletins You Are Following:</h3>
{% if fol_bulletins %}
	<ul>
	{%for bulletin in fol_bulletins %}
		<li>Bulletin {{forloop.counter}}: <a href="{% url 'detail_bulletin' bulletin.bulletin.id %}">{{ bulletin.bulletin.title }}</a></li>
	{%endfor%}
	</ul>
{%else%}
	<p>You are following no bulletins</p>
{%endif%}

{% endblock %}



