<a href="/search">Search Bulletins</a> <br><br>

<a href="/create_bulletin">Create New Bulletin</a>
{% block content %}
{% if bulletin_list %}
	<h3>List of All Bulletins:</h3>
    <ul>
    {% for bulletin in bulletin_list %}
      <li>Bulletin {{forloop.counter}}: <a href="{% url 'detail_bulletin' bulletin.id %}">{{ bulletin.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No bulletins are available.</p>
{% endif %}

<h3>List of Your Bulletins:</h3>
{% if your_bulletins %}
	<ul>
	{%for bulletin in your_bulletins %}
		<li>Bulletin {{forloop.counter}}: <a href="{% url 'detail_bulletin' bulletin.id %}">{{ bulletin.title }}</a></li>
	{%endfor%}
	</ul>
{%else%}
	<p>You have created no bulletins</p>
{%endif%}

<h3>List of Public Bulletins</h3>
{% if pub_bulletins %}
	<ul>
	{%for bulletin in pub_bulletins %}
		<li>Bulletin {{forloop.counter}}: <a href="{% url 'detail_bulletin' bulletin.id %}">{{ bulletin.title }}</a></li>
	{%endfor%}
	</ul>
{%else%}
	<p>There are no public bulletins</p>
{%endif%}

<h3>Bulletins You Are Following:</h3>
{% if fol_bulletins %}
	<ul>
	{%for bulletin in fol_bulletins %}
		<li>Bulletin {{forloop.counter}}: <a href="{% url 'detail_bulletin' bulletin.bulletin.id %}">{{ bulletin.bulletin.title }}</a></li>
	{%endfor%}
	</ul>
{%else%}
	<p>You are following no bulletins</p>
{%endif%}

<a href="/inbox">{{inbox_str}}</a>

{% endblock %}
<br><br>
<a href="/logout">Logout</a>


