{% block content %}

Subject : {{n.subject}} <br>
sender : {{n.sender}} <br>
message : {{n.message}}<br>

{%if n.is_request %}
<a style="text-decoration:none" href = "{% url 'accept_notification' n.id %}"><input type="button" value = "Accept"/></a>
<a style="text-decoration:none" href = "{% url 'reject_notification' n.id %}"><input type="button" value = "Reject"/></a>
{% endif %}

<br><br><a href="/inbox"><input type="button" value="Inbox" /></a><a href="/">  <input type="button" value="Home" /></a>

{% endblock %}